# Project exclude paths
/microservicecloud-api/target/
/microservicecloud-consumer-dept-80/target/
/microservicecloud-eureka-7001/target/
/microservicecloud-eureka-7002/target/
/microservicecloud-eureka-7003/target/
/microservicecloud-provider-dept-8001/target/
/microservicecloud-provider-dept-8002/target/
/microservicecloud-provider-dept-8003/target/